

/*-----------------------------------nmn_02---------------------------------*/

header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(45deg, #22046b, #e14e42);
}

header h1 {
    text-align: center;
    font-size: 35px;
    color: #937dca;
    letter-spacing: 15px;
}

.nmn_02 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.nmn_02 .nmn_02_box {
    position: relative;
    height: 500px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 2%;
    background: linear-gradient(45deg, #937dca, #e23020);
}

.nmn_02 .nmn_02_box::before {
    position: absolute;
    content: "";
    top: 99.3%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #937dca;
    background-image: linear-gradient(315deg, #937dca 0%, #d2cbe4 74%);
    transition: 0.4s;
}

.nmn_02 .nmn_02_box:hover::before {
    top: 50%;
}

.nmn_02 .nmn_02_box .nmn_02_imgbox {
    width: 100%;
    height: 50%;
}

.nmn_02 .nmn_02_box .nmn_02_imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nmn_02 .nmn_02_box h1 {
    font-size: 20px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.nmn_02 .nmn_02_box:hover h1 {
    color:black;
}

.nmn_02 .nmn_02_box p {
    font-size: 16px;
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    line-height: 25px;
    letter-spacing: 5px;
}

.nmn_02 .nmn_02_box:hover p {
    color:  #937dca;
}
/*---------------------nmn03---------------*/
.nmn_03_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(45deg, #371692, #a3433e);
}
/*nmn_04_header*/
.nmn_04_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(45deg, #2c0c85, #c23c35);
}










.nhp_02_showcase
{
    background-image: url("/IMG/nhp_01.png");
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    min-height: 95vh;
}

.nhp_01_box {
    width: 100%;
    height: 90px;
    color: black;
    transition: all 0.8s;
    background: linear-gradient(45deg, #9c8cd4, #e9bbb6);
    background-attachment: fixed;
    
    
}

.nhp_01_box .nhp_01_navbar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
}
.nhp_01_box .nhp_01_navbar img{
    position: relative;
    width:120px ;
    height:80px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
.nhp_01_box .nhp_01_navbar .nhp_01_links {
    display: flex;
    margin-left: 48%;
    font-size: 25px;
}

.nhp_01_box .nhp_01_navbar .nhp_01_links li {
    display: block;
    padding: 5px 15px;
    transition: border-bottom 0.5s;
    margin-top: 20px;
}

.nhp_01_box .nhp_01_navbar .nhp_01_links li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.nhp_01_box .nhp_01_navbar .nhp_01_links li a:hover,
.nhp_01_box .nhp_01_navbar .nhp_01_links li a:active{
    border-bottom: 2px solid black;
}

.nhp_01_box  .nhp_01_navbar h1 {
    padding: 20px 0;
    text-align: left;
    font-size: 35px;
    margin-left: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}


/*font dùng chung */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
/*font-family: 'Nunito Sans', sans-serif;*/

/*tiểu chuẩn đặt tên class và id : tên viết tắt_số thứ tự*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;  
    box-sizing: border-box;
   
}
/*an thanh truot*/
body::-webkit-scrollbar { 
    display: none; 
}
    
/*nmn_01_*/

.nmn_01 {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22046b, #e14e42);
    color: #fff;
    position: relative;
    min-height: 80vh;
}

.nmn_01_row {
    width: 85%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.nmn_01_col {
    margin: 10px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 80%;
    position: relative;
   
}

.nmn_01_textbox {
    max-width: 700px;
    margin-top: 80px;
}

.nmn_01_textbox h4, h5 {
    color: blueviolet;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 20px;
    text-align: center;
}

.nmn_01_text-event {
    padding-top: 58px;
    margin-top: 50px;
    color: black;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    height: 250px;
    border-radius: 4%;
    background: linear-gradient(45deg, #341386, #ee6559);
    font-weight:bolder;
}

.nmn_01_gallery-box {
    max-width: 500px;
    position: relative;
    margin-left: 120px;
  margin-top: 40px;
    
}

.nmn_01_gallery-box img {
    width: 80%;
    border: 6px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 5%;
}


.end{
    width: 100%;
    height: 40px;
    color: black;
    transition: all 0.8s;
    background: linear-gradient(45deg, #9785d8, #b68c87);
    background-attachment: fixed;
}
.end p{
    text-align: center;
    font-size: 19px;
}


